<h1>Sign Up</h1>

<div ng-if="currentUser">Welcome, {{ currentUser.name }}</div>
<div ng-if="isAuthorized(userRoles.admin)">You're admin.</div>
<div ng-if="isAuthorized(userRoles.manager)">You're member.</div>
<div ng-if="isAuthorized(userRoles.user)">You're user.</div> 

<form ng-submit="vm.signup(form, formData)">
    username <input type="text" ng-model="formData.username">
    name <input type="text" ng-model="formData.name">
    email <input type="text" ng-model="formData.email">
    password <input type="password" ng-model="formData.password">
    role  <md-select ng-model="formData.role" placeholder="Roles">
            <md-option value="user">User</md-option>
            <md-option value="manager">Manager</md-option>
            <md-option value="admin">admin</md-option>
          </md-select>
    status <input type="text" ng-model="formData.status">
    <button type="submit">Submit</button>
</form>