<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
      <md-menu md-position-mode="target-left bottom">
        <md-button aria-label="Open nav menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
          <md-icon md-svg-icon="navigation:w:menu"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ui-sref='main.dashboard.index'> 
              <span md-menu-align-target>Dashboard</span>
            </md-button>
          </md-menu-item>
          <md-menu-item  ng-if="isAuthorized(userRoles.admin)">
            <md-button ui-sref='main.user.home'> 
              <span md-menu-align-target>User Management</span>
            </md-button>
          </md-menu-item>
          <md-menu-item  ng-if="isAuthorized(userRoles.super)">
            <md-button ui-sref='main.report.home'> 
              <span md-menu-align-target>Statistics</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <span flex></span>
      <md-menu md-position-mode="target-right bottom">
        <md-button aria-label="Open settings menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
          <md-icon md-menu-origin md-svg-icon="navigation:w:menu-vertical"></md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="vm.updateUserDialog($event)"> <span md-menu-align-target>Account Info</span></md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref='logout'> <span md-menu-align-target>Logout</span></md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
</md-toolbar>
<div class="version-code">
  <span>v.{{vm.__BRANCH}} {{vm.__DATE}}</span>
</div>