html, body {
	height: 100%;
	position: relative;
	overflow: hidden;
}

.main-container {
	overflow: auto;
}

#loading-bar .bar {
  background-color: #ee6e73;
}

md-input-container.date-picker:not(.md-input-has-value) input:not(:focus) {
  color: rgba(0,0,0,0.38);
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.panel-clr {
	width: 19em;
}

.panel-content {
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Search */
md-input-container.search-input-container {
	padding-left: 51px;
}

.search-input {
	margin: 0px 10px;
	margin: 0.8em auto .5em;
	padding: 8px 16px 0;
	background-color: #7c7e83;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
}

.search-input-container input {
	height: 48px;
	font-size: 20px;
	background-color: #fff;
	margin: 0;
}

.search-button-container button {
	height: 48px;
	font-size: 20px;
	background-color: #fff;
	border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
  width: 100%;
}

md-input-container.search-input-container:not(.md-input-invalid).md-input-focused .md-input, 
md-input-container.search-input-container:not(.md-input-has-value) input:not(:focus),
md-input-container.search-input-container .md-input {
	border-color: transparent; 
}

.search-input-container md-icon {
	width: 38px;
	height: 48px;
	top: 2px;
	background-color: #fff;
	left: 3px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 0px 5px;
}

.search-controls {
	margin: 0px 10px;
}

ul.pagination { list-style: none; }

.pagination,
.pagination li a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
	align-items: center;

	color: #444;
	font-size: 0.9rem;
}

.pagination li { 
	border-radius: 2px;
	text-align: center;
	vertical-align: top;
}

.pagination a {
  padding-top: 1px;
  text-decoration:none; 
  border-left-width: 0;
  min-width:30px;
  min-height:30px;
  color: rgba(255,255,255,.85);  
  /* box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,.35); */
}

.pagination li:not([class*="active"]) a:hover { 
  background-color: rgba(255,255,255,.2);
  border-top-color: rgba(0,0,0,.35);
  border-bottom-color: rgba(0,0,0,.5);
}

.pagination li:not([class*="active"]) a:active {
  border-left-width:1px;
}

.pagination li:first-of-type a {
  border-left-width: 1px;
}

.pagination li:first-of-type span,
.pagination li:last-of-type span,
.pagination li:nth-of-type(2) span,
.pagination li:nth-last-of-type(2) span { 
  /* screen readers only */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.pagination li:first-child a::before,
.pagination li:last-child a::after,
.pagination li:nth-of-type(2) a::before,
.pagination li:nth-last-of-type(2) a::after {  
  display: inline-block;
  font-family: Fontawesome;  
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}


.pagination>.disabled>a, 
.pagination>.disabled>a:focus, 
.pagination>.disabled>a:hover, 
.pagination>.disabled>span, 
.pagination>.disabled>span:focus, 
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination li.active {
	background-color: #ee6e73;
}

.pagination li.active a { 
  /* padding-top:.25em;
  color: rgba(255,255,255,1);
  background-color: rgba(255,255,255,.15);
  box-shadow: inset 0px 2px 1px 0px rgba(0,0,0,.25);
  cursor: default;
	pointer-events: none; */
	color: #fff
}

@media only screen and ( max-width: 64.063em ) {  
  .pagination li:first-child,
  .pagination li:last-child {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .pagination li:nth-of-type(2) a { border-left-width: 1px; }

}

@media only screen and ( max-width: 40.063em ) {  
  .pagination li {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .pagination li.active,
  .pagination li:first-of-type,
  .pagination li:last-of-type,
  .pagination li:nth-of-type(2),
  .pagination li:nth-last-of-type(2){
    position: initial;
    top: initial;
    left: initial;
  }

  .pagination li:nth-of-type(2) a { border-left-width: 0; }

}

@media only screen and ( max-width: 30.063em ) {  
  
  h1 { font-size: 1.35em !important; }
  
  .pagination li:first-child,
  .pagination li:last-child {
    /* screen readers only */
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .pagination li:nth-of-type(2) a { border-left-width: 1px; }

}

@media only screen and ( max-width: 15.063em ) {  /* For watches? */
  
  .pagination li { width: 50%;}
  
  .pagination li.active { 
    order: 2;
    width: 100%;
		border-left-width: 1px;
  }  

}



.datatable-dt { margin: 1em auto; }

.datatable-dt table { 
	width: 100%;
	border: none;
}

@media only screen and (max-width: 414px) {
	.datatable-dt table { display: none; }
}

.datatable-dt table thead {
	/*font-weight: 400;*/
	color: #ffffff;
	/*text-transform: uppercase;*/
	background-color:#25ace4;
}

.datatable-dt table thead > tr th,
.datatable-dt table tbody > tr td { 
	padding: 15px;
	font-size: 18px;
	text-align: left;
}

.datatable-dt table thead .text-center,
.datatable-dt table tbody .text-center {
  text-align: center;
}

.datatable-dt table tbody > tr td.datatable-dt-location {
	text-transform: capitalize;
}

.datatable-dt table thead > tr th {
	font-size: 16px;
	font-weight: 300;
}

.datatable-dt table tbody > tr { cursor: pointer; }

.datatable-dt table {
	/*font-weight: 700;*/
	box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),
							0 4px 5px 0 rgba(0,0,0,.14),
							0 1px 10px 0 rgba(0,0,0,.12);
}

.datatable-dt table tbody tr:nth-child(even) {
   background-color: #f6f8fe;
}

.datatable-dt table tbody td { 
	font-size: 14px !important;
	border-bottom: 1px solid #e6e9f2;
}

.datatable-dt tbody .td-post-date { position: relative; }
.datatable-dt tbody .td-post-date span { 
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 2px;
	height: 100%;
	border-left: 3px solid #2acb42;
}

.floating-container {
  position: fixed;
  right: 16px;
  top: 0;
  z-index: 10;
}

.floating-container-absolute {
  position: absolute;
  right: 16px;
  margin-top: -58px;
  z-index: 10;
}

.inline-floating-buttons .md-button {
  display: inline-block;
}
.checkbox-container {
  height: 58px;
}
.margin-zero {
  margin: 0;
  padding: 2px;
}

.source-other {
  margin-left: 10px;
  
}

.circumstance_incident_form {
  height: 60px;
}

.cb-left-label {
  margin-right: 10px;
  color: rgba(0,0,0,0.54); 
}

.font-small {
  font-size: 15px;
}
/* .md-fab.floating-save {
  position: absolute;
} */

.default-search-container input {
	height: 48px;
	font-size: 20px;
  background-color: #fff;
  margin: 0;
  box-shadow: inset -1px -1px 3px rgba(0,0,0,0.1);
  padding-left: 15px;
  padding-right: 15px;
}

md-input-container.default-search-container:not(.md-input-invalid).md-input-focused .md-input, 
md-input-container.default-search-container:not(.md-input-has-value) input:not(:focus),
md-input-container.default-search-container .md-input {
  border-color: transparent;
  border: none; 
}

.user-disabled {
  background-color: #cccccc;
  color: #f1f1f1;
}

.progress-button {
  padding: 10px;
  position: absolute;
}

.loading-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #0000008f;
}

md-progress-circular.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.custom-require-login-overlay{
  position: fixed;
  background-color: #00000070;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
}

.custom-require-login {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 60;
  top: 0;
}

.top-element {
  z-index: 99;
}

.report_user_info {
  font-size: 13px;
  margin-left: 15px;
  margin-top: 14px;
  margin-bottom: 10px;
}

.report_user_info table tr td:first-child {
  font-weight: bold;
}

.report_family_composition {
  font-size: 12px;
  margin: 46px auto 0;
}

table[md-table].dt_client .md-checkbox-column,
table[md-table].dt_client .md-checkbox-cell {
  display: none;
}


table.md-table.md-row-select tbody.md-body > tr.md-row[disabled="disabled"] {
  background-color: #e1e1e1;
}

tr.md-row.disabled {
  background-color: #e1e1e1;
}

tr.md-row.deleted {
  background-color: #e09d9d;
}

table tr.md-row td.no-values {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  line-height: 50px;
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.version-code {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 2px;
  cursor: default;
}

.version-code span {
  color: #747474;
  font-size: 14px;
}

.under-construction {

  margin: 100px auto;
}

.under-construction .uc-formal-greeting {
  display: block;
  font-size: 35px;
  text-align: center;
  color: #7c7e83;
  padding: 10px;
}

.under-construction .uc-message {
  display: block;
  font-size: 15px;
  text-align: center;
  color: #747474;
  padding: 20px 10px;

}
.under-construction .uc-reason {
  display: block;
  font-size: 12px;
  text-align: center;
  color: #777;
  padding: 20px 10px;
}